[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-mail = "*"
bcrypt = "*"
marshmallow-sqlalchemy = "*"
flask-jwt-extended = "*"
gunicorn = "*"
psycopg2-binary = "*"
flask-cors = "*"
flask-marshmallow = "*"

[dev-packages]

[requires]
python_version = "3.8"
